{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="wrap">
        <div class="search">
            <input id="searchText" type="text" class="searchTerm" placeholder="Search your exam" />
            <button id="submitSearchText" type="submit" class="searchButton">
                <i class="fa fa-search "></i>
            </button>
        </div>
    </div>
</div>
{% load static %}
<script src="{% static 'app/scripts/Custom/Search/search.js' %}"></script>
{% endblock %}



